body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 3vh;
    background: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 3vh;
}

main {
    width: 400px;
    margin: 30px;
    border: solid 1px gray;
    padding-bottom: 20px;
}
section img{
    width: 100%;
    height: 90%;
}
h1, p{
    margin-left: 20px;
    margin-right: 20px;
}
#cat p, #result p{
    border-bottom: solid 1px rgb(175, 175, 175);
}

#info{
    display: flex;
}
#cat p{
    padding-right: 30px;
    margin-right: 5px;
}
#result p{
    margin-left: 1px;
    margin-right: 0px;
    padding-right: 225px;
}

@media only screen and (max-width: 1000px) {
    /* Media queries go here */
}

@media only screen and (max-width: 600px) {
    /* Media queries go here */
}